
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button id="search_submit" class="btn btn-default" type="button">Go!</button>
                </span>
                <div class="container">
                    <div class="row">
                        <span>Wartosc argumentu 1: </span>{{ phrase }}
                    </div>
                </div>
            </div><!-- /input-group -->
        </div>
    </div>
</div>
{% endblock %}

